{% extends "F4UserBundle:Page:admin_page.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block profile_content %}
    <div class="panel-heading">
        <h4>Rezervavimas</h4>
    </div>
    <div class="panel-body">
        {% for flashMessage in app.session.flashbag.get('notice') %}
            {% if flashMessage == '200' %}
                <div class="alert alert-success">
                    <strong>Pavyko!</strong> Knyga sėkmingai išduota.
                </div>
            {% endif %}
        {% endfor %}
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th></th>
                <th>Knygos pavadinimas</th>
                <th>Autorius</th>
                <th class="text-center">Vartotojas</th>
                <th class="text-center">Rezervavo</th>
                <th class="text-center">Veiksmai</th>
            </tr>
            </thead>
            <tbody>
            {% for res in reservations %}
                <tr>
                    <td class="vert-align text-center" width="20" style="padding:0;">
                        <img src="{{ res.book.smallImage }}" alt="{{ res.book.title }}" height="50"></td>
                    <td class="vert-align">
                        <a href="{{ path('F4LibraryBundle_book', { 'id': res.book.id }) }}">{{ res.book.title }}</a>
                    </td>
                    <td class="vert-align">
                        <a href="{{ path('F4LibraryBundle_author', { 'id': res.book.authors[0].id }) }}">{{ res.book.authors[0].name }}</a>
                    </td>
                    <td class="vert-align text-center">
                        {{ res.user }}
                    </td>
                    <td class="vert-align text-center">
                        {{ res.reservedAt|date("Y-m-d") }}
                    </td>
                    <td class="vert-align text-center">
                        {% if res.bookUnit is not null %}
                            <a href="{{ path('admin_give_book', {id : res.id}) }}" class="btn btn-xs btn-success"
                               title="Pažymėti knygą kaip išduotą">Išduoti</a>
                        {% else %}
                            <span class="btn-xs btn-warning">trūksta vienetų</span>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">Šiame skyriuje knygų nerasta...</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
