{% extends 'F4LibraryBundle::layout.html.twig' %}

{% block title %}{{ book.title }}{% endblock %}

{% block content %}
    <div class="col-sm-3">

        <div class="panel panel-default">
            <img src="//d.gr-assets.com/books/1425546741l/25076011.jpg" alt="{{ book.title }}" width="100%">
        </div>

        <div class="panel panel-default">
            <div class="panel-heading"><h4>Autoriai</h4></div>
            <div class="panel-body">
                {% for author in book.authors %}
                    <p class="author">
                        <img src="{{ author.photo }}" align="left">
                        <span><a href="{{ path('F4LibraryBundle_author', {id: author.id}) }}">{{ author.name }}</a></span>
                        <a href="{{ path('F4LibraryBundle_author', {id: author.id}) }}"
                           class="btn btn-xs btn-default"><i
                                    class="glyphicon glyphicon-book" style="font-size: 11px;"></i> Kūryba</a>
                    </p>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="col-sm-9">
        {% for flashMessage in app.session.flashbag.get('notice') %}
            {% if flashMessage == 'reserved' %}
                <div class="alert alert-success">
                    <strong>Pavyko!</strong> Knyga sėkmingai užrezervuota, nepamirškite ją atsiimti.
                </div>
            {% elseif flashMessage == 'removed' %}
                <div class="alert alert-info">
                    <strong>Rezervacija atšaukta!</strong> Rezervacija buvo sėkmingai atšaukta.
                </div>
            {% elseif flashMessage == 'delay' %}
                <div class="alert alert-warning">
                    <strong>Reikės palaukti!</strong> Šiuo metu knygos bibliotekoje nėra, mes Jums pranešime, kai ji
                    atsilaisvins.
                </div>
            {% else %}
                <div class="alert alert-danger">
                    <strong>Įvyko klaida!</strong> Susisiekite su administracija.
                </div>
            {% endif %}
        {% endfor %}

        <div class="well small-title">
            <div class="row row-no-padding row-vertical-align">
                <div class="col-md-8">
                    <h4>{{ book.title }}
                        <small>({{ book.releaseDate|date("Y") }})</small>
                    </h4>
                    <div class="btn-group">
                        {% for tag in book.tags %}
                            <a href="{{ path('F4LibraryBundle_tag', {id: tag.id}) }}">
                                <button type="button" class="btn btn-xs btn-info">{{ tag.fullName }}</button>
                            </a>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-4 text-right col-middle">
                    {% render(controller('F4LibraryBundle:Reservation:form', {'book_id': book.id} )) %}
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading"><h4>Aprašymas</h4></div>
            <div class="panel-body">
                {{ book.description }}
            </div>
        </div>

        {% include 'F4LibraryBundle:Tools/Review:block.html.twig' with {'reviews': book.reviews, 'book_id': book.id} %}

    </div>
{% endblock %}
