{% extends 'F4LibraryBundle::layout.html.twig' %}

{% block title %}{{ book.title }}{% endblock %}

{% block content %}
    <div class="col-sm-4">

        <div class="panel panel-default">
            <div class="panel-heading"><h4>{{ book.title }}</h4></div>
            <div class="panel-body">
                <img src="{{ book.image }}" alt="{{ book.title }}" align="left" style="margin-right: 15px;">

                <p>
                    {{ book.title }}<br/>
                    {{ book.author }}<br/>
                    {{ book.releaseDate|date("Y") }}<br/>
                    {{ book.isbn }}<br/>
                </p>
            </div>
        </div>
    </div>

    <div class="col-sm-8">

        <div class="panel panel-default">
            <div class="panel-heading"><h4>Aprašymas</h4></div>
            <div class="panel-body">
                {{ book.description }}
            </div>
        </div>

    </div>
{% endblock %}