{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="omb_login">
        <h3 class="omb_authTitle">{{ 'security.login.submit'|trans }} arba <a href="#">{{ 'registration.submit'|trans }}</a></h3>

        <form class="omb_loginForm" action="{{ path("fos_user_security_check") }}" autocomplete="off"
              method="POST">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

            <div class="row omb_row-sm-offset-3">
                <div class="col-xs-12 col-sm-6">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input type="text" class="form-control" id="username" name="_username"
                               value="{{ last_username }}" required="required"
                               placeholder="{{ 'security.login.username'|trans }}"/>
                    </div>
                    <span class="help-block"></span>

                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input type="password" class="form-control" id="password" name="_password"
                               placeholder="{{ 'security.login.password'|trans }}"/>
                    </div>
                    <span class="help-block">
                    {% if error %}{{ error.messageKey|trans }}{% endif %}
                    </span>
                </div>
            </div>
            <div class="row omb_row-sm-offset-3">
                <div class="col-xs-12 col-sm-3">
                    <label class="checkbox">
                        <input type="checkbox" id="remember_me" name="_remember_me"
                               value="on"/>{{ 'security.login.remember_me'|trans }}
                    </label>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <p class="omb_forgotPwd">
                        <a href="#">Pamiršote slaptažodį?</a>
                    </p>
                </div>
            </div>
            <div class="row omb_row-sm-offset-3">
                <div class="col-xs-12 col-sm-6">
                    <input class="btn btn-lg btn-primary btn-block" type="submit" id="_submit" name="_submit"
                           value="{{ 'security.login.submit'|trans }}"/>
                </div>
            </div>
        </form>
    </div>
{% endblock fos_user_content %}
