<li class="previous">
    <a{% if pagination.page <= 1 %} class="disabled"{% endif %} id="ajaxList" href="#"
                                                                data-href="{{ path('F4LibraryBundle_ajax_call', { list: app.request.get('list'), limit: pagination.limit, page: pagination.page - 1, uid: app.request.get('uid') }) }}"><i
                class="glyphicon glyphicon-chevron-up" style="font-size:10px;"> </i> Atgal</a>
</li>
<li>
    <span class="paging">{{ pagination.from }}-{{ pagination.to }} ({{ pagination.total }})</span>
</li>
<li class="next">
    <a{% if pagination.page >= pagination.pages %} class="disabled"{% endif %} id="ajaxList" href="#"
                                                                               data-href="{{ path('F4LibraryBundle_ajax_call', { list: app.request.get('list'), limit: pagination.limit, page: pagination.page + 1, uid: app.request.get('uid') }) }}">Pirmyn
        <i class="glyphicon glyphicon-chevron-down" style="font-size:10px;"> </i></a>
</li>
